{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "> 1%",
        "uglify": true,
        "modules": false
      },
      "useBuiltIns": true
    }]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
